.home-container {
  padding: 20px 10px;
  text-align: center;
  background-color: #ffffff;
}

.home-card {
  background-color: #00285f;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 20px;
}

.hcard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.hcard-content-text h1 {
  font-size: 22px;
  width: 257px;
  height: 26px;
  color: #ffffff;
  margin-bottom: 10px;
}

.hcard-content-text p {
  font-size: 14px;
  width: 250px;
  color: #ffffff;
}

.hcard-content-img {
  padding: 35px 0;
}

.hcard-content-img img {
  width: 244px;
  height: 146px;
}

.home-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ededed;
  height: 123px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.hbtn button {
  width: 174px;
  height: 40px;
  margin-bottom: 5px;
}

.hbtn-text {
  font-size: 18px;
  color: #585858;
}

@media (min-width: 576px) {
  .home-container {
    padding: 30px 20px;
  }

  .home-card {
    padding: 20px;
  }

  .hcard-content-text h1 {
    font-size: 36px;
    width: 420px;
    margin-bottom: 20px;
  }

  .hcard-content-text p {
    font-size: 18px;
    width: 420px;
  }

  .hcard-content-img img {
    width: 333px;
    height: 199px;
  }

  .home-button-container {
    display: flex;
    flex-direction: row;
    justify-content: safe;
    align-items: center;
  }

  .hbtn button {
    margin:0;
  }

  .hbtn-text p {
    margin: 0;
    margin-left: 16px;
  }
}

@media (min-width: 768px) {
  .home-button-container {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 85px;
  }
}

@media (min-width: 992px) {
  .hcard-content {
    margin-bottom: 80px;
  }

  .hcard-content-img img {
    width: 455px;
    height: 272px;
  }
}

@media (min-width: 1280px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 979px;
    height: 365px;
  }

  .hcard-content {
    margin: 0;
    padding: 0;
  }
  .hcard-content-text {
    margin-right: 65px;
  }

  .hcard-content-text p {
    text-align: left;
  }

  .hcard-content-img img {
    width: 333px;
    height: 199px;
  }

  .home-button-container {
    width: 979px;
  }
}
